<button type="button" class="btn btn-primary" *ngIf = 'lista' (click) = 'alta()'>Alt</button>
<table class="table table-striped" *ngIf = 'lista'>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nivel</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let g of grupos'>
      <th >{{g.IdGrupo}}</th>
      <td>{{g.NivelGrupo}}</td>
      <td>{{g.NombreGrupo}}</td>
    </tr>
  </tbody>
</table>

<form *ngIf = '!lista' [formGroup] = "fg">
  <div class="form-group">
    <label for="exampleInputEmail1">Nivel</label>
    <input type="text" class="form-control" id="exampleInputEmail1" 
    formControlName=' NivelGrupo'>
    <small  class="form-text text-muted">Ingrese nivel del grupo</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" id="exampleInputEmail1" 
    formControlName=' NombreGrupo'>
    <small  class="form-text text-muted">Ingrese nombre del grupo</small>
  </div>
  <button type="button" class="btn btn-success" (click) = 'guradar()'>Guardar</button>
  <button type="button" class="btn btn-danger" (click) = 'cancelar()'>Cancelar</button>
</form>
